@import 'normalize.css';

$primary: rgb(0, 119, 255);

@import '../node_modules/bootstrap4/scss/bootstrap';

.logo__text {
	text-transform: uppercase;
	color: #58585a;
	margin: 1rem 3px;
}

.logo__text span {
	display: block;
}